/*style.css*/
/* fondo general */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* caja de la calculadora */
.calculadora {
    background-color: white;
    padding: 75px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 280px;
}

/* barra superior */
.top-bar {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
}

/*circulos superiores de la calculadora*/
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.red { 
    background-color: #ff605c;
}
.yellow { 
    background-color: #ffbd44; 
}
.green { 
    background-color: #00ca56; 
}

/* título de la calculadora */
.title {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* pantalla */
#pantalla {
    width: 92%;
    height: 60px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #ffedb5;
    margin-bottom: 15px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}

/* cuadrícula de botones */
.botones-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
    gap: 10px;
}

/* botones base */
button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px #222;
    transition: background-color 0.3s, transform 0.1s;
}

/* hover y presionado */
button:hover { 
    background-color: #555; 
}
button:active { 
    transform: translateY(2px); 
    box-shadow: 0 2px #222; 
}

/* botón limpiar */
#clear {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e74c3c;
}

#clear:hover { 
    background-color: #c0392b; 
}

/*boton mas(+) largo*/
.mas {
    font-family: 'Times New Roman', Times, serif;
    grid-column: 4;
    grid-row: span 2; /* ocupa dos filas verticalmente */
    background-color: #333;
}

/* botón igual(=) largo */
.igual {
    font-family: 'Times New Roman', Times, serif;
    background-color: #27ae60;
    grid-row: 4 / span 2; /* ocupa dos filas verticalmente */
    grid-column: 4;
}

.igual:hover { 
    background-color: #1e8449; 
}

/* Botón cero(0) ocupa dos columnas */
.cero {
    font-family: 'Times New Roman', Times, serif;
    grid-column: span 2;
}

/* estilo del pie de pagina */
footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 9px;
    font-family: 'Times New Roman', Times, serif;
    color: #555;
}
